<footer >

        <div class="row w-100">
            <div class="col-md-3 " >
                <div class="container  p-5">
                    <h3 class="fw-semibold fs-5">Company</h3>
                <p class="text-muted">Find a location nearest you. 
                    See Our Stores</p>
                <p class="text-muted"> +391 (0)35 2568 4593</p>
                <p class="text-muted">hello@domain.com</p>
                </div>
            </div>
            <div class="col-md-3 ">
               <div class="container p-5">
                <h3 class="fw-semibold fs-5">Information</h3>
                <ul class="list-unstyled text-muted">
                 <li>My account</li>
                 <li>Login</li>
                 <li>My cart</li>
                 <li>Wishlist</li>
                 <li>Check out</li>
                </ul>
               </div>
            </div>
            <div class="col-md-3  ">
               <div class="container p-5">
                <h3 class="fw-semibold fs-5">Services</h3>
                <ul class="list-unstyled text-muted">
                    <li>About Us</li>
                    <li>Privacy Policy</li>
                    <li>Faq's</li>
                    <li>Contact us</li>
                    <li>Delivery Inforamtion</li>
                   </ul>
               </div>
            </div>
            <div class="col-md-3 ">
                <div class="container p-5">
                    <h3 class="fw-semibold fs-5">Subscribe</h3>
                <p class="lh-lg">Enter your email below to be the first to know about new collections and product launches.</p>
                <div class=" ">
                    <DIV class="d-flex">
                        <i class="fa-regular fa-envelope InputICON "></i>
                        <input type="text" class="form-control EmailInput  border-0 rounded-0" placeholder="Your Email address">
                        <i class="fa-solid  fa-arrow-right arrow-right"></i>
                    </DIV>
                </div>
                </div>
            </div>
        </div>

<div class="border-top border-1  borderTop"></div>
<div class="container py-3">
    <div class="row justify-content-between align-items-center">
        <div class="col-lg-4 text-lg-start  text-center">
            <img class="pagebuilder-mobile-only" src="https://blueskytechmage.com/minimog/media/wysiwyg/payment.png" alt="" title="" width="291" height="22" data-element="mobile_image" data-pb-style="F23BBPV">
        </div>
        <div class="col-lg-4 my-lg-0 my-4 text-center">
            <p class="h2 fw-bolder">E-shop</p>
        </div>
        <div class="col-lg-4 text-lg-end  text-center">
            <i class="fa-brands fa-facebook mx-3"></i>
            <i class="fa-brands fa-twitter mx-3"></i>
            <i class="fa-brands fa-instagram mx-3"></i>
            <i class="fa-brands fa-pinterest mx-3"></i>
        </div>
    </div>
</div>
</footer>