<div class="container d-flex justify-content-center mt-5">
    <div class="text-center w-75">
        <h3 class="h1 ">Forgot Your Password?</h3>
        <p class="mt-3"><a class="text-decoration-none text-muted" routerLink="/home">Home</a><span
                class="mx-2">></span><a routerLinkActive="" class="text-decoration-none" routerLink="/ForgetPassword"
                routerLinkActive="text-black fs-5  fw-semibold"> Forgot Your Password</a>
        </p>
        <form action="" [formGroup]="ForgetForm" (ngSubmit)="Forget()">
            <div class="row text-start mt-4">
                <div class="col-md-12">
                    <p class="my-3 text-muted fw-semibold">Please enter your email address below to receive a password
                        reset link. </p>
                    <div *ngIf="Error.length>0" class="alert alert-danger">
                        <p>{{Error}}</p>
                    </div>
                    <label class="text-muted my-3" for="Email">Email</label>
                    <input type="text" formControlName="email" id="Email" class="form-control">
                    <div *ngIf="ForgetForm.get('email')?.errors && ForgetForm.get('email')?.touched"
                        class="alert alert-danger">
                        <p *ngIf="ForgetForm.get('email')?.getError('required')">Email Is Required</p>
                        <p *ngIf="ForgetForm.get('email')?.getError('email')">Email Is in-valid</p>
                    </div>
                    <div *ngIf="!resetcode" class="mt-3">
                        <re-captcha (resolved)="resolved($event)" siteKey="6LdSorwlAAAAABNgpp7NdYCT1gmqhlmKfTkgOLg7"></re-captcha>
                    </div>







                    <button *ngIf="!resetcode" (click)="Forget()" [disabled]="!Human || ForgetForm.invalid " type="submit" class="btn btn-dark btn-lg  d-block mx-auto mt-3"><i  *ngIf="login"
                            class="fa-solid fa-spinner fa-spin-pulse"></i><span *ngIf="! login">Reset My
                            Password</span></button>
                  
                </div>
            </div>
        </form>
        <form action="" *ngIf="resetcode" [formGroup]="Resetform" (ngSubmit)="Reset()"> 
            <div class="text-start">
                <label class="text-muted my-3" for="resetCode">resetCode</label>
            </div>
            <input type="text" formControlName="resetCode" id="resetCode" class="form-control" placeholder="resetCode...">
            <div *ngIf="Resetform.get('resetCode')?.errors && Resetform.get('resetCode')?.touched"
                class="alert alert-danger">
                <p *ngIf="Resetform.get('resetCode')?.getError('required')">resetCode Is Required</p>
            </div>
            
            <button *ngIf="resetcode" [disabled]="!Human || ForgetForm.invalid " type="submit" class="btn btn-dark btn-lg  d-block mx-auto mt-3"><i  *ngIf="login"
                class="fa-solid fa-spinner fa-spin-pulse"></i> <span *ngIf="!login">Reset</span></button>
        </form>

    </div>
</div>